<table border="0" cellpadding="0" cellspacing="0" style="width:723px">
	<tbody>
		<tr>
			<td colspan="3" style="height: 33px; width: 723px; text-align: center;"><strong><span style="font-size:26px">Quy định chung</span></strong></td>
		</tr>
		<tr>
			<td colspan="3" style="height:19px"><strong>T&Aacute;C PHONG</strong></td>
		</tr>
		<tr>
			<td style="height:19px">1</td>
			<td colspan="2">Nhanh nhẹn v&agrave; cẩn thận trong mọi c&ocirc;ng việc.</td>
		</tr>
		<tr>
			<td style="height:19px">2</td>
			<td colspan="2" style="width:676px">Mặc &aacute;o đồng phục đi l&agrave;m, t&aacute;c phong gọn g&agrave;ng, sạch sẽ,&nbsp; kh&ocirc;ng l&ecirc; d&eacute;p khi di chuyển.</td>
		</tr>
		<tr>
			<td style="height:62px">3</td>
			<td colspan="2" style="width:676px">Ăn (trưa/tối) v&agrave; mua đồ ăn trước khi v&agrave;o ca, hoặc được ăn tại qu&aacute;n nhưng kh&ocirc;ng ảnh hưởng đến c&ocirc;ng việc v&agrave; được quản l&yacute; cho ph&eacute;p. Nh&acirc;n vi&ecirc;n l&agrave;m fulltime được nghỉ trưa/ đi ăn trưa 30p khoản thời gian kh&ocirc;ng cố định, từ 12h - 1h</td>
		</tr>
		<tr>
			<td style="height:45px">4</td>
			<td colspan="2" style="width:676px">Th&aacute;i độ phục vụ của tất cả nh&acirc;n vi&ecirc;n đối với kh&aacute;ch phải th&acirc;n thiện, vui vẻ, trả lời lưu lo&aacute;t. Nắm r&otilde; menu v&agrave; c&aacute;c nhiệm vụ, c&ocirc;ng việc được giao sau 7 ng&agrave;y l&agrave;m việc.</td>
		</tr>
		<tr>
			<td style="height:31px">5</td>
			<td colspan="2">Sử dụng tất cả c&aacute;c vật dụng, c&ocirc;ng cụ, đồ d&ugrave;ng để đ&uacute;ng nơi quy định, gọn g&agrave;ng, giữ vệ sinh chung</td>
		</tr>
		<tr>
			<td colspan="3" style="height:19px"><strong>CHUY&Ecirc;N CẦN, CHẾ ĐỘ NGHỈ LỄ TẾT, NGHỈ VIỆC</strong></td>
		</tr>
		<tr>
			<td style="height:48px">6</td>
			<td colspan="2" style="width:676px">Đi l&agrave;m đ&uacute;ng giờ, nếu đi trễ, về sớm phải xin ph&eacute;p, b&aacute;o cho quản l&yacute;. Trường hợp đi trễ, về sớm, tăng ca được t&iacute;nh từ bắt đầu từ 30phut, nếu &lt;30 ph&uacute;t sẽ kh&ocirc;ng trừ/ tăng giờ.</td>
		</tr>
		<tr>
			<td style="height:45px">7</td>
			<td colspan="2" style="width:676px">Nghỉ lễ, Tết sẽ theo th&ocirc;ng b&aacute;o của qu&aacute;n trước 15 ng&agrave;y. Y&ecirc;u cầu nghỉ theo lịch của cửa h&agrave;ng, nh&acirc;n vi&ecirc;n kh&ocirc;ng chấp h&agrave;nh theo lịch sẽ bị th&ocirc;i việc, trừ lương theo số ng&agrave;y tương ứng.</td>
		</tr>
		<tr>
			<td style="height:68px">8</td>
			<td colspan="2" style="width:676px">NV ca g&atilde;y l&agrave;m ch&iacute;nh thức tối thiểu 25 ng&agrave;y/th&aacute;ng kể từ đầu th&aacute;ng th&igrave; c&oacute; 1 ng&agrave;y ph&eacute;p, NV fulltime c&oacute; 2 ng&agrave;y ph&eacute;p, tức nghỉ kh&ocirc;ng trừ lương. Ng&agrave;y ph&eacute;p được sắp xếp theo lịch của h&agrave;ng, hoặc c&oacute; thể theo lịch c&aacute; nh&acirc;n, y&ecirc;u cầu bắt buộc phải c&oacute; người phụ tr&aacute;ch c&ocirc;ng việc thay thế v&agrave; b&aacute;o cho quản l&yacute; trước 2 ng&agrave;y.&nbsp;</td>
		</tr>
		<tr>
			<td style="height:86px">9</td>
			<td colspan="2" style="width:676px">Được đổi ca/ off tối đa 2 ng&agrave;y/ th&aacute;ng đối với lịch đ&atilde; fix. Trước khi off&nbsp; bắt buộc phải c&oacute; người phụ tr&aacute;ch c&ocirc;ng việc của ca kh&aacute;c thay thế v&agrave; phải b&aacute;o c&aacute;o cho quản l&yacute; trước 2 ng&agrave;y. Một th&aacute;ng off qu&aacute; 3 ng&agrave;y hoặc đổi ca qu&aacute; 5 ng&agrave;y sẽ kh&ocirc;ng được thưởng. Nghỉ gấp bất kỳ l&yacute; do g&igrave; phải b&aacute;o cho quản l&yacute; trước giờ v&ocirc; ca&nbsp; 5h, kh&ocirc;ng chấp h&agrave;nh đ&uacute;ng sẽ được coi như nghỉ kh&ocirc;ng ph&eacute;p.</td>
		</tr>
		<tr>
			<td style="height:66px">10</td>
			<td colspan="2" style="width:676px">Nghỉ việc phải b&aacute;o trước 15 ng&agrave;y. Nếu b&aacute;o trễ hơn sẽ bị trừ lương số ng&agrave;y trễ tương ứng. Xin nghỉ đột xuất kh&ocirc;ng c&oacute; l&yacute; do ch&iacute;nh đ&aacute;ng, hoặc kh&ocirc;ng được quản l&yacute; cho ph&eacute;p được xem như nghỉ ngang kh&ocirc;ng b&aacute;o trước, sẽ bị trừ lương 15 ng&agrave;y theo quy định.</td>
		</tr>
		<tr>
			<td colspan="3" style="height:19px">CH&Iacute;NH S&Aacute;CH THƯỞNG, PHẠT THEO KPI&nbsp;</td>
		</tr>
		<tr>
			<td style="height:57px">11</td>
			<td colspan="2" style="width:676px">Đ&aacute;nh gi&aacute;, chấm c&ocirc;ng tại Hệ thống quản l&yacute; đều tự gi&aacute;c, trung thực, khi đ&aacute;nh gi&aacute; sai, kh&ocirc;ng trung thực quản l&yacute; kiểm tra sẽ đ&aacute;nh gi&aacute; lại,&nbsp; trừ hết số điểm ng&agrave;y h&ocirc;m đ&oacute; v&agrave; được ghi nhận v&agrave;o bi&ecirc;n bản mỗi ng&agrave;y</td>
		</tr>
		<tr>
			<td style="height:68px">12</td>
			<td colspan="2" style="width:676px">Khen thưởng: mỗi th&aacute;ng sẽ t&iacute;nh điểm t&iacute;ch luỹ dựa theo KPI đ&aacute;nh gi&aacute;. C&oacute; 3 - 4 bạn được thưởng ứng với c&aacute;c mức điểm cao v&agrave; &gt; 280đ tương ứng nhất : 300k, nh&igrave;: 200k, ba: 100k. Nếu bạn n&agrave;o dưới 250 điểm sẽ bị phạt 50k/bạn xung v&agrave;o quỹ thưởng của th&aacute;ng.</td>
		</tr>
		<tr>
			<td style="height:44px">13</td>
			<td colspan="2" style="width:676px">Nh&acirc;n vi&ecirc;n d&ugrave;ng nước uống/ đồ ăn tại qu&aacute;n được giảm 20% v&agrave; chỉ được d&ugrave;ng ngo&agrave;i ca l&agrave;m việc. C&oacute; bạn b&egrave;, người quen đến ăn tại qu&aacute;n được giảm 10% tổng h&oacute;a đơn.</td>
		</tr>
		<tr>
			<td style="height:45px">14</td>
			<td colspan="2" style="width:676px">Kh&ocirc;ng được tự &yacute; lấy d&ugrave;ng/ăn/uống bất kỳ nguy&ecirc;n liệu, tr&aacute;i c&acirc;y, thức ăn/uống của qu&aacute;n m&agrave; chưa được quản l&yacute; cho ph&eacute;p. Mọi trường hợp bị ph&aacute;t hiện sẽ chịu phạt 50k/lần.</td>
		</tr>
		<tr>
			<td colspan="3" style="height:19px">KH&Aacute;C</td>
		</tr>
		<tr>
			<td style="height:67px">15</td>
			<td colspan="2" style="width:676px">Một th&aacute;ng cửa h&agrave;ng sẽ giữ lại 2 ng&agrave;y lương/bạn đến khi đủ 20 ng&agrave;y lương. Số tiền n&agrave;y sẽ giữ lại đến khi th&ocirc;i l&agrave;m việc tại cửa h&agrave;ng, sau khi nghỉ việc đ&uacute;ng quy định sẽ được ho&agrave;n trả.</td>
		</tr>
		<tr>
			<td style="height:118px">16</td>
			<td colspan="2" style="width:676px">Th&aacute;i độ h&ograve;a nh&atilde;, hợp t&aacute;c với đồng nghiệp trong tất cả c&aacute;c kh&acirc;u. Khi xong c&ocirc;ng việc trong kh&acirc;u của m&igrave;nh, y&ecirc;u cầu hỗ trợ c&ocirc;ng việc cho bộ phận kh&aacute;c. Tr&aacute;nh trường hợp bộ phận qu&aacute; nhiều việc, c&ograve;n c&aacute;c bạn kh&aacute;c th&igrave; lại qu&aacute; rảnh, tụ tập n&oacute;i chuyện hoặc ko tập trung. V&iacute; dụ: khi pha chế nhiều việc, cần hỗ trợ th&igrave; bộ phận phục vụ, giao h&agrave;ng sắp xếp tr&aacute;i c&acirc;y, rửa ly ch&eacute;n phụ hoặc lau dọn s&agrave;n bẩn, chuẩn bị tr&aacute;i c&acirc;y. Ngược lại c&aacute;c bạn pha chế chuẩn bị c&aacute;c vật dụng hoặc sắp xếp order phụ c&aacute;c bạn giao h&agrave;ng khi thiếu người hoặc kh&ocirc;ng kịp giao v&agrave; cần l&agrave;m gấp.</td>
		</tr>
		<tr>
			<td style="height:53px">17</td>
			<td colspan="2" style="width:676px">Chỉ được tiếp bạn b&egrave;, người th&acirc;n trong ca sau khi đảm bảo ho&agrave;n th&agrave;nh đủ, đ&uacute;ng tất cả c&aacute;c c&ocirc;ng việc phụ tr&aacute;ch hoặc được quản l&yacute; cho ph&eacute;p. Nếu c&oacute; việc ph&aacute;t sinh phải xử l&yacute; ngay.</td>
		</tr>
		<tr>
			<td style="height:53px">18</td>
			<td colspan="2" style="width:676px">L&agrave;m việc tập trung, cẩn thận, bảo quản t&agrave;i sản chung, đền b&ugrave; chi ph&iacute; khi l&agrave;m bể, hư hỏng bằng h&igrave;nh thức: đền 100% gi&aacute; trị với t&agrave;i sản c&oacute; gi&aacute; trị &lt;500k v&agrave; 3/4 gi&aacute; trị t&agrave;i sản c&oacute; gi&aacute; trị &gt;= 500k</td>
		</tr>
		<tr>
			<td style="height:113px">19</td>
			<td colspan="2" style="width:676px">Mỗi NV thử việc được giao 1 &aacute;o đồng phục, đặt cọc 50k/&aacute;o. Sau khi kết th&uacute;c thử việc sẽ được giao th&ecirc;m 1 &aacute;o kh&ocirc;ng cọc. Nếu l&agrave;m hỏng, mất, sẽ phải tự mua lại đồng phục: 50k/&aacute;o. Nghỉ trước 4 th&aacute;ng l&agrave;m việc tại qu&aacute;n sẽ bị mất tiền cọc &aacute;o v&agrave; giữ lại &aacute;o. L&agrave;m việc sau 6 th&aacute;ng hoặc c&oacute; thay đổi mẫu &aacute;o, qua năm mới, qu&aacute;n sẽ cung cấp th&ecirc;m &aacute;o đồng phục.<br />
			Tạp dề được giao phải tự giặt sạch &amp; quản l&yacute;, nếu l&agrave;m hỏng, mất, đền b&ugrave; 60k/c&aacute;i</td>
		</tr>
		<tr>
			<td style="height:141px">20</td>
			<td colspan="2" style="width:676px">Bi&ecirc;n bản giao ca ghi nhận danh s&aacute;ch c&ocirc;ng việc, nguy&ecirc;n liệu tr&aacute;i c&acirc;y b&agrave;n giao v&agrave; ghi nhận những trường vi phạm trong quy định. Nh&acirc;n vi&ecirc;n vi phạm li&ecirc;n tục 1 điều trong 2 bi&ecirc;n bản sẽ bị cảnh c&aacute;o, trong 3 bi&ecirc;n bản sẽ bị trừ 1 ng&agrave;y lương. Vi phạm lần 4 sẽ bị trừ 1 ng&agrave;y lương + buộc th&ocirc;i việc. Những trường hợp l&agrave;m ảnh hưởng đến kh&aacute;ch h&agrave;ng cũng như chất lượng/ uy t&iacute;n/ doanh số của cửa h&agrave;ng sẽ bị trừ 1 ng&agrave;y lương cho trường hợp đầu ti&ecirc;n. V&iacute; dụ: pha chế qu&ecirc;n bỏ đường nguy&ecirc;n 1 order bị kh&aacute;ch complain, giao h&agrave;ng l&agrave;m kh&aacute;ch ph&agrave;n n&agrave;n về th&aacute;i độ phục vụ, hoặc nhận order sai y&ecirc;u cầu, qu&ecirc;n order l&agrave;m ảnh hưởng dịch vụ, kh&aacute;ch h&agrave;ng complain.</td>
		</tr>
		<tr>
			<td colspan="3" style="height:19px">NHỮNG ĐIỂM QUAN TRỌNG CẦN LƯU &Yacute; - QUẢN L&Yacute;, TRƯỞNG CA GI&Aacute;M S&Aacute;T&nbsp;</td>
		</tr>
		<tr>
			<td style="height:69px">1</td>
			<td colspan="2" style="width:676px">Ca sau c&oacute; tr&aacute;ch nhiệm kiểm tra ca trước v&agrave; ghi v&agrave;o bi&ecirc;n bản giao ca mỗi ng&agrave;y: số ly ch&eacute;n, vị tr&iacute; sắp xếp c&aacute;c vật dụng, b&agrave;n ghế, c&aacute;c vết bẩn, kiểm tra h&oacute;a đơn chưa ho&agrave;n th&agrave;nh v&agrave; b&aacute;o quản l&yacute; khi c&oacute; sự cố đặc biệt ph&aacute;t sinh: hư m&aacute;y m&oacute;c, vật dụng, nghẹt cầu cống.</td>
		</tr>
		<tr>
			<td style="height:52px">2</td>
			<td colspan="2" style="width:676px">Chủ nhật qu&aacute;n off buổi s&aacute;ng, mở cửa từ 12h. Đầu th&aacute;ng y&ecirc;u cầu đăng k&yacute; lịch l&agrave;m v&agrave;o ng&agrave;y CN đối với tất cả nh&acirc;n vi&ecirc;n để đảm bảo đủ nh&acirc;n sự 5 nv/ca</td>
		</tr>
		<tr>
			<td style="height:48px">3</td>
			<td colspan="2" style="width:676px">Kiểm tra tasklist mỗi ng&agrave;y v&agrave; ho&agrave;n th&agrave;nh đ&uacute;ng, đủ. C&aacute;c trường hợp vi phạm sẽ được ghi nhận v&agrave;o Bi&ecirc;n bản mỗi ng&agrave;y</td>
		</tr>
		<tr>
			<td style="height:50px">4</td>
			<td colspan="2" style="width:676px">Kh&ocirc;ng được bỏ vỏ tr&aacute;i c&acirc;y, vật dụng, &hellip;..v&agrave;o bồn rửa ch&eacute;n, bồn cầu hay valabo. Nh&acirc;n vi&ecirc;n n&agrave;o l&agrave;m nghẹt sẽ chịu tr&aacute;ch nhiệm.&nbsp;</td>
		</tr>
		<tr>
			<td style="height:43px">5</td>
			<td colspan="2">Sau khi sử dụng c&acirc;y lau s&agrave;n phải giặt lại sạch v&agrave; đặt&nbsp; l&ecirc;n rổ giặt.&nbsp;</td>
		</tr>
		<tr>
			<td style="height:55px">6</td>
			<td colspan="2" style="width:676px">Trực WC được chia theo lịch lu&acirc;n phi&ecirc;n mỗi ca trong tuần, sau khi trực sẽ ghi t&ecirc;n người trực b&ecirc;n dưới ng&agrave;y trực. c&ocirc;ng việc khi trực WC: ch&agrave; bồn, s&agrave;n, tường, dọn sạch r&aacute;c trong WC.&nbsp;</td>
		</tr>
		<tr>
			<td style="height:56px">7</td>
			<td colspan="2" style="width:676px">Kết th&uacute;c ca: Nh&acirc;n vi&ecirc;n tất cả bộ phận cần dọn dẹp sạch sẽ, sắp xếp lại tất cả m&aacute;y m&oacute;c, vật dụng, dụng cụ pha chế, để đ&uacute;ng nơi quy định.&nbsp;</td>
		</tr>
		<tr>
			<td style="height:41px">8</td>
			<td colspan="2" style="width:676px">L&agrave;m vệ sinh v&agrave; giữ sạch sẽ thường xuy&ecirc;n những khu vực được giao tr&aacute;ch nhiệm trong ca phụ tr&aacute;ch.</td>
		</tr>
		<tr>
			<td style="height:34px">9</td>
			<td colspan="2" style="width:676px">S&agrave;n qu&aacute;n, s&agrave;n wc, bồn rửa ch&eacute;n phải được dọn, lau sạch, kh&ocirc; trong mỗi ca.</td>
		</tr>
	</tbody>
</table>