<p><strong>PHA CHẾ TẠI EFRUIT</strong></p>

<ol>
	<li><strong>Nhiệm vụ</strong></li>
</ol>

<ul>
	<li>Thực hiện c&aacute;c kh&acirc;u pha chế thức uống đảm bảo đ&uacute;ng y&ecirc;u cầu/ c&ocirc;ng thức, đ&uacute;ng h&oacute;a đơn.</li>
	<li>Bảo quản m&aacute;y m&oacute;c, dụng cụ v&agrave; khu vực quầy, pha chế.</li>
	<li>Sơ chế, pha chế, c&oacute; tr&aacute;ch nhiệm bảo quản thường xuy&ecirc;n v&agrave; thống k&ecirc; tất cả nguy&ecirc;n liệu, tr&aacute;i c&acirc;y mỗi ng&agrave;y.</li>
	<li>L&ecirc;n danh s&aacute;ch nguy&ecirc;n liệu, tr&aacute;i c&acirc;y cần nhập mỗi ng&agrave;y.</li>
</ul>

<ol>
	<li><strong>Y&ecirc;u cầu c&ocirc;ng việc</strong></li>
</ol>

<ul>
	<li>Thực hiện c&aacute;c y&ecirc;u cầu checklist &nbsp;của cửa h&agrave;ng&nbsp; .</li>
	<li>Mặc đồng phục ngay ngắn, sạch sẽ, vệ sinh c&aacute; nh&acirc;n tươm tất (t&oacute;c ngắn gọn g&agrave;ng , ng&oacute;n tay cắt ngắn, sạch sẽ) .</li>
	<li>Lu&ocirc;n vui vẻ th&acirc;n thiện với kh&aacute;ch h&agrave;ng v&agrave; đồng nghiệp. Lu&ocirc;n trung thực trong c&ocirc;ng việc v&agrave; giao tiếp .</li>
	<li>C&oacute; tinh th&acirc;n học hỏi v&agrave; cầu tiến trong c&ocirc;ng việc ,tinh thần l&agrave;m việc team work , hỗ trợ c&ocirc;ng việc giữa c&aacute;c bộ phận.</li>
	<li>Lu&ocirc;n chủ động v&agrave; ho&agrave;n th&agrave;nh tốt c&ocirc;ng việc đuợc giao.</li>
	<li>Pha chế đ&uacute;ng c&ocirc;ng thức v&agrave; y&ecirc;u cầu của kh&aacute;ch, đơn h&agrave;ng.</li>
	<li>Lu&ocirc;n giữ khu vực quầy pha chế sạch sẽ v&agrave; gọn g&agrave;ng.</li>
	<li>Bảo quản v&agrave; kiểm tra tr&aacute;i c&acirc;y mỗi ng&agrave;y, chịu tr&aacute;ch nhiệm khi l&agrave;m hư hỏng thức uống/ nguy&ecirc;n liệu/ tr&aacute;i c&acirc;y.</li>
</ul>

<ol>
	<li><strong>C&ocirc;ng </strong><strong>việc</strong><strong> cụ thể:</strong></li>
</ol>

<ul>
	<li>Kiểm tra tủ lạnh v&agrave; c&aacute;c thiết bị m&aacute;y m&oacute;c, dụng cụ k<strong>h</strong>i v&agrave;o ca .</li>
	<li>Kiểm tra h&agrave;ng h&oacute;a tồn/ nhập mới đầu ca để nắm đuợc sản phẩm n&agrave;o hết h&agrave;ng , hết hạn d&ugrave;ng</li>
	<li>Chuẩn bị nguy&ecirc;n liệu: nước đuờng, yaourt, &nbsp;..</li>
	<li>Sơ chế tr&aacute;i c&acirc;y, sắp sếp tủ sạch gọn, thực hiện quy tr&igrave;nh FIFO ( first in , first out ).</li>
	<li>Lau ch&ugrave;i tủ, kệ, khu vực l&agrave;m việc sạch sẽ .</li>
	<li>Sắp xếp h&agrave;ng h&oacute;a v&agrave; c&aacute;c vật dụng trong quầy gọn g&agrave;ng , sạch sẽ v&agrave; dễ lấy .</li>
	<li>Pha chế khi c&oacute; order.</li>
	<li>Rửa ly v&agrave; dọn dẹp bồn rữa/ dụng cụ, s&agrave;n qu&aacute;n sạch sẽ cuối mỗi ca.</li>
	<li>Pha chế đảm bảo đ&uacute;ng c&ocirc;ng thức, đ&uacute;ng y&ecirc;u cầu của kh&aacute;ch h&agrave;ng .</li>
</ul>

<ol>
	<li><strong>Cơ hội thăng tiến:</strong></li>
</ol>

<ul>
	<li>Đ&aacute;nh gi&aacute; năng lực l&agrave;m việc theo th&aacute;ng , theo qu&yacute; ..</li>
	<li>Sau qu&aacute; tr&igrave;nh l&agrave;m tốt c&ocirc;ng vi&ecirc;c pha chế sẽ l&ecirc;n theo c&aacute;c bậc: Junior &agrave; Senior, sau đ&oacute; sẽ được huấn luyện l&ecirc;n vị tr&iacute; Thu Ng&acirc;n/ Trưởng ca.</li>
	<li>Đuợc tham gia c&aacute;c buổi huấn luyện kĩ năng ph&aacute;t triển bản th&acirc;n v&agrave; nghiệp vụ của cửa h&agrave;ng.</li>
</ul>

<p>&nbsp;</p>

<ol>
	<li><strong>Lịch Training</strong></li>
</ol>

<ol style="list-style-type:lower-roman">
	<li><strong>Ng&agrave;y 1</strong></li>
</ol>

<p style="margin-left:.25in">1. Giới thiệu, l&agrave;m quen với team, đồng nghiệp&hellip;.</p>

<p style="margin-left:.25in">2. Giới thiệu về eFruit (Sứ mệnh, tầm nh&igrave;n, gi&aacute; trị ..)</p>

<p style="margin-left:.25in">3. Phổ biến nội quy l&agrave;m việc tại eFruit (quy định giờ giấc, lịch l&agrave;m việc, ng&agrave;y l&atilde;nh lương.. )</p>

<p style="margin-left:.25in">4. Hướng dẫn quy tr&igrave;nh pha chế tổng qu&aacute;t.</p>

<p style="margin-left:.25in">6. <strong>Hướng dẫn chuẩn bị/ sơ chế, cắt gọt tr&aacute;i c&acirc;y tươi</strong>, bảo quản nguy&ecirc;n liệu, &hellip;</p>

<p style="margin-left:.25in">7. Hướng dẫn quy tr&igrave;nh đ&oacute;n kh&aacute;ch/ order kh&aacute;ch tại chỗ/mang về, c&aacute;ch chuẩn bị vật dụng v&agrave; phục vụ nước.</p>

<p style="margin-left:.25in">8. Dọn rửa ly, dụng cụ, m&aacute;y m&oacute;c sau khi sử dụng.</p>

<p style="margin-left:.25in">9. Hỗ trợ team cắt gọt, xử l&yacute; những loại tr&aacute;i c&acirc;y đơn giản theo ph&acirc;n c&ocirc;ng.</p>

<p style="margin-left:.25in">10. Y&ecirc;u cầu xem menu v&agrave; cần nắm menu trong v&ograve;ng 7 ng&agrave;y.</p>

<p>&nbsp;</p>

<ol style="list-style-type:lower-roman">
	<li><strong>Ng&agrave;y 2</strong></li>
</ol>

<p style="margin-left:.25in"><strong>+ </strong>Kiểm tra: y&ecirc;u cầu v&agrave; hướng dẫn ng&agrave;y 1.</p>

<p style="margin-left:.25in">&nbsp;Hướng dẫn:</p>

<ol>
	<li>Vệ sinh, rửa v&agrave; bảo quản m&aacute;y m&oacute;c, dụng cụ pha chế: m&aacute;y xay, m&aacute;y &eacute;p, tủ đ&ocirc;ng</li>
	<li>Hướng dẫn c&aacute;ch sử dụng c&aacute;c loại dụng cụ pha chế &hellip;</li>
	<li><strong>Hướng dẫn chuẩn bị/ sơ chế, cắt gọt tr&aacute;i c&acirc;y tươi,</strong> nguy&ecirc;n liệu, &hellip;</li>
	<li>Học v&agrave; ph&acirc;n loại c&aacute;c nguy&ecirc;n vật liệu, tr&aacute;i c&acirc;y, c&aacute;c m&aacute;y m&oacute;c v&agrave; dụng cụ cho việc pha chế.</li>
	<li>Nắm được vị tr&iacute; c&aacute;c nguy&ecirc;n liệu, vật dụng đ&uacute;ng nơi, đ&uacute;ng chỗ vd: b&uacute;t, ghim, ly, chai, muỗng, ống h&uacute;t&hellip;</li>
	<li>Học v&agrave; nắm r&otilde; c&aacute;c k&iacute;ch thước từng loại ly, hộp, ly, dĩa để sử dụng đ&uacute;ng từng sản phẩm theo menu.</li>
	<li>Hỗ trợ team cắt gọt, xử l&yacute; những loại tr&aacute;i c&acirc;y đơn giản theo ph&acirc;n c&ocirc;ng: gọt tr&aacute;i c&acirc;y, lột m&iacute;t, vắt cam,..</li>
</ol>

<p>&nbsp;</p>

<ol style="list-style-type:lower-roman">
	<li><strong>Ng&agrave;y 3</strong></li>
</ol>

<p style="margin-left:.25in">+ Kiểm tra:&nbsp; y&ecirc;u cầu v&agrave; hướng dẫn của ng&agrave;y 1, 2.</p>

<p style="margin-left:.25in">+ Hướng dẫn:</p>

<ol>
	<li>C&aacute;ch cột chai, đ&oacute;ng nắp ly đ&uacute;ng c&aacute;ch.</li>
	<li>Nhận biết sản phẩm, đặc t&iacute;nh sản phẩm c&oacute; trong menu.</li>
	<li>Hướng dẫn c&aacute;ch sử dụng c&aacute;c loại m&aacute;y pha chế: m&aacute;y xay, m&aacute;y &eacute;p&hellip;</li>
	<li><strong>Hướng dẫn chuẩn bị/ sơ chế, cắt gọt tr&aacute;i c&acirc;y tươi</strong>, nguy&ecirc;n liệu, &hellip;</li>
	<li>Vị tr&iacute; nguy&ecirc;n vật liệu, tr&aacute;i c&acirc;y sắp xếp v&agrave; bảo quản đ&uacute;ng c&aacute;ch ở c&aacute;c loại tủ m&aacute;t, kệ tr&aacute;i c&acirc;y</li>
	<li>Hỗ trợ team cắt gọt, xử l&yacute; những loại tr&aacute;i c&acirc;y đơn giản theo ph&acirc;n c&ocirc;ng: cắt tr&aacute;i c&acirc;y dầm, tr&aacute;i c&acirc;y hộp.</li>
</ol>

<p>&nbsp;</p>

<ol style="list-style-type:lower-roman">
	<li><strong>Ng&agrave;y 4</strong></li>
</ol>

<p style="margin-left:.25in">+ Kiểm tra:&nbsp; y&ecirc;u cầu v&agrave; hướng dẫn của ng&agrave;y 1,2,3</p>

<p style="margin-left:.25in">+ Hướng dẫn:</p>

<ol>
	<li>C&aacute;ch sử dụng m&aacute;y xay sinh tố, m&aacute;y &eacute;p tr&aacute;i c&acirc;y&hellip;</li>
	<li>Training k&yacute; hiệu v&agrave; độ ưu ti&ecirc;n h&oacute;a đơn.</li>
	<li>C&aacute;ch thống k&ecirc; số lượng nguy&ecirc;n liệu, tr&aacute;i c&acirc;y.</li>
	<li>L&ecirc;n danh s&aacute;ch nguy&ecirc;n liệu, tr&aacute;i c&acirc;y cần nhập mỗi ng&agrave;y.</li>
	<li>Học v&agrave; tham khảo t&agrave;i liệu về pha chế, c&aacute;c c&ocirc;ng thức pha chế, xử l&yacute; sự cố khi pha chế sai, (nhầm) order.</li>
	<li><strong>Hướng dẫn chuẩn bị/ sơ chế, cắt gọt tr&aacute;i c&acirc;y tươi</strong>, nguy&ecirc;n liệu, &hellip;</li>
	<li>C&aacute;ch kiểm tra chất lượng v&agrave; quy tr&igrave;nh bảo quản nguy&ecirc;n liệu, tr&aacute;i c&acirc;y.</li>
</ol>

<p>&nbsp;</p>

<ol style="list-style-type:lower-roman">
	<li><strong>Ng&agrave;y 5, 6</strong></li>
</ol>

<p style="margin-left:.25in">+ Kiểm tra: y&ecirc;u cầu v&agrave; hướng dẫn ng&agrave;y 1,2,3,4.</p>

<p style="margin-left:.25in">+ Hướng dẫn:</p>

<ol>
	<li>Vị tr&iacute; nguy&ecirc;n vật liệu, tr&aacute;i c&acirc;y sắp xếp v&agrave; bảo quản đ&uacute;ng c&aacute;ch ở c&aacute;c loại tủ m&aacute;t, kệ tr&aacute;i c&acirc;y</li>
	<li>Xem lại &nbsp;c&aacute;c k&iacute;ch thước từng loại ly, hộp, ly, dĩa để sử dụng đ&uacute;ng từng sản phẩm theo menu</li>
	<li>C&aacute;ch kiểm tra chất lượng v&agrave; quy tr&igrave;nh bảo quản nguy&ecirc;n liệu, tr&aacute;i c&acirc;y.</li>
	<li>Xem c&ocirc;ng thức pha chế v&agrave; l&agrave;m được những sản phẩm cơ bản: tr&aacute;i c&acirc;y dầm đủ loại, nước &eacute;p.</li>
</ol>

<p>&nbsp;</p>

<ol style="list-style-type:lower-roman">
	<li><strong>Ng&agrave;y 7</strong></li>
</ol>

<p style="margin-left:.25in">Kiểm tra lại tất cả y&ecirc;u cầu, hướng dẫn v&agrave; thực hiện kiểm tra c&aacute;c m&oacute;n m&oacute;n cơ bản đ&atilde; l&agrave;m được.</p>

<p style="margin-left:.5in">&nbsp;</p>