<table border="0" cellpadding="0" cellspacing="0" style="width:705px">
	<tbody>
		<tr>
			<td style="height:43px; width:51px"><span style="font-size:20px"><strong>STT</strong></span></td>
			<td style="width:655px"><span style="font-size:20px"><strong>C&acirc;u hỏi thường gặp</strong></span></td>
		</tr>
		<tr>
			<td rowspan="4" style="height:173px">1</td>
			<td>&nbsp;KH hỏi: M&oacute;n n&agrave;o ngon nhất ở đ&acirc;y (menu/ qu&aacute;n) ?</td>
		</tr>
		<tr>
			<td style="height:50px; width:655px">Trả lời: Cửa h&agrave;ng chuy&ecirc;n về tr&aacute;i c&acirc;y tươi, tr&aacute;i c&acirc;y dầm v&agrave; sinh tố nước &eacute;p. Nếu anh chị th&iacute;ch ăn tr&aacute;i c&acirc;y dầm th&igrave; c&oacute; Yaourt tr&aacute;i c&acirc;y v&agrave; Tr&aacute;i c&acirc;y dầm kem l&agrave; 2 loại được kh&aacute;ch ưu chuộng, hay d&ugrave;ng.</td>
		</tr>
		<tr>
			<td style="height:44px; width:655px">C&ograve;n sinh tố th&igrave; c&oacute; c&aacute;c loại như: D&acirc;u t&acirc;y d&acirc;u tằm Cam Yaourt, Ph&uacute;c bồn tử D&acirc;u Yaourt hoặc c&aacute;c m&oacute;n c&oacute; xo&agrave;i như Xo&agrave;i chuối dứa, Xo&agrave;i chuối Chanh d&acirc;y</td>
		</tr>
		<tr>
			<td style="height:52px; width:655px">Nước &eacute;p c&oacute;: Bưởi dứa hay Ổi dứa, Ổi c&oacute;c, c&oacute; vị thơm ngon anh/chị d&ugrave;ng thử. Nếu th&iacute;ch vị ngọt th&igrave; c&oacute; Dưa hấu Sori, ngo&agrave;i ra c&ograve;n c&oacute;&nbsp; carrot Đ&agrave; Lạt an to&agrave;n v&agrave; uống đẹp da, tốt cho sức khỏe&hellip;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:99px">2</td>
			<td>&nbsp;KH hỏi: Yaourt tr&aacute;i c&acirc;y l&agrave; g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:72px; width:655px">Trả lời: Đ&acirc;y l&agrave; m&oacute;n cửa h&agrave;ng em b&aacute;n được nhiều nhất, gồm 1 ly Tr&aacute;i c&acirc;y đủ loại dầm với sữa chua homemade (tự l&agrave;m) Trong ly c&ograve;n c&oacute; 1 &iacute;t đường, sữa đặc v&agrave; mứt d&acirc;u tằm/ d&acirc;u t&acirc;y/ chanh d&acirc;y, loại mứt n&agrave;y anh/chị c&oacute; thể chọn v&agrave; y&ecirc;u cầu</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:72px">3</td>
			<td>&nbsp;Tr&aacute;i c&acirc;y dầm sữa/kem/yaourt (đầy đủ) gồm c&oacute; những loại tr&aacute;i c&acirc;y n&agrave;o&nbsp;</td>
		</tr>
		<tr>
			<td style="height:40px; width:655px">Trả lời: Gồm c&oacute; d&acirc;u, m&iacute;t, thanh long, dưa hấu, đu đủ, xo&agrave;i, sapoche, dưa gang. B&ecirc;n cạnh đ&oacute; c&ograve;n c&oacute; một số tr&aacute;i c&acirc;y theo m&ugrave;a như nh&atilde;n, ch&ocirc;m ch&ocirc;m, v&uacute; sữa, m&atilde;ng cầu xi&ecirc;m&hellip;..</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:65px">4</td>
			<td style="width:655px">KH hỏi Sữa chua nếp cẩm l&agrave; g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:43px; width:655px">Trả lời: Đ&acirc;y l&agrave; m&oacute;n nếp than được l&ecirc;n men gần như cơm rượu, c&oacute; vị ngọt v&agrave; hơi c&oacute; vị l&ecirc;n men, d&ugrave;ng chung với sữa chua. M&oacute;n n&agrave;y ăn tốt cho ti&ecirc;u h&oacute;a, đẹp da v&agrave; lạ miệng.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:71px">5</td>
			<td style="width:655px">KH hỏi Kem x&ocirc;i nếp cẩm l&agrave; g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:45px; width:655px">Trả lời: Đ&acirc;y l&agrave; m&oacute;n nếp than được l&ecirc;n men c&oacute; vị ngọt, chưa qu&aacute; nồng vị men rượu, được ăn chung với 1 vi&ecirc;n kem dừa v&agrave; dừa b&agrave;o. M&oacute;n n&agrave;y ăn tốt cho ti&ecirc;u h&oacute;a, đẹp da v&agrave; lạ miệng.</td>
		</tr>
		<tr>
			<td rowspan="3" style="height:168px">6</td>
			<td style="width:655px">KH y&ecirc;u cầu 1 m&oacute;n sinh tố lạ kh&ocirc;ng c&oacute; trong menu th&igrave; c&oacute; nhận order kh&ocirc;ng?</td>
		</tr>
		<tr>
			<td style="height:68px; width:655px">Trả lời: Anh/chị vui l&ograve;ng chọn m&oacute;n trong menu v&igrave; thường c&aacute;c m&oacute;n trong menu đ&atilde; c&oacute; c&ocirc;ng thức chuẩn v&agrave; được kiểm nghiệm chất lượng v&agrave; c&aacute;c loại tr&aacute;i c&acirc;y mix chung hợp với nhau. Nếu mix qu&aacute; lạ c&oacute; thể sẽ ra ly sinh tố kh&ocirc;ng ngon v&agrave; đảm bảo.&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td style="height:82px; width:655px">Trường hợp kh&aacute;ch vẫn nằng nặt muốn mix theo &yacute; kh&aacute;ch th&igrave; nh&acirc;n vi&ecirc;n tạm ghi note v&agrave;o giấy order v&agrave; b&aacute;o với kh&aacute;ch: anh/chị vui l&ograve;ng chờ ch&uacute;t em hỏi &yacute; kiến pha chế, nếu cửa h&agrave;ng cố gắng l&agrave;m được theo y&ecirc;u cầu sẽ phục vụ ngay. Sau đ&oacute; v&agrave;o tr&igrave;nh b&agrave;y với pha chế, trường hợp pha chế đồng &yacute; sẽ vẫn l&agrave;m theo y&ecirc;u cầu của kh&aacute;ch, trường hợp kh&ocirc;ng đồng &yacute; th&igrave; y&ecirc;u cầu pha chế hoặc quản l&yacute; ra tr&igrave;nh b&agrave;y với kh&aacute;ch.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:106px">7</td>
			<td style="width:655px">KH hỏi về dịch vụ giao h&agrave;ng tận nơi của cửa h&agrave;ng?</td>
		</tr>
		<tr>
			<td style="height:81px; width:655px">Trả lời: Cửa h&agrave;ng c&oacute; dịch vụ giao h&agrave;ng tận nơi, sau đ&oacute; n&oacute;i kh&aacute;ch h&agrave;ng vui l&ograve;ng chờ, nh&acirc;n vi&ecirc;n v&agrave;o trong lấy tờ menu rời gửi cho kh&aacute;ch v&agrave; giải th&iacute;ch th&ecirc;m: đ&acirc;y l&agrave; tờ menu rời của cửa h&agrave;ng, c&oacute; tất cả m&oacute;n ăn v&agrave; dịch vụ giao h&agrave;ng ở trang cuối. Anh chị c&oacute; nhu cầu vui l&ograve;ng gọi b&ecirc;n em sẽ phục vụ tận nơi. (Nhớ cảm ơn kh&aacute;ch)</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:44px">8</td>
			<td style="width:655px">KH hỏi giờ đ&oacute;ng cửa, mở cửa của cửa h&agrave;ng?</td>
		</tr>
		<tr>
			<td style="height:23px">Trả lời: Qu&aacute;n hoạt động từ 9h s&aacute;ng - 10h tối. Nhận giao h&agrave;ng tận nơi đến hết 9h30 tối.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:48px">9</td>
			<td style="width:655px">KH y&ecirc;u cầu đặc biệt trong ly nước (hoặc m&oacute;n ăn)? Như kh&ocirc;ng đường, &iacute;t sữa, kh&ocirc;ng đ&aacute;&hellip;&hellip;</td>
		</tr>
		<tr>
			<td style="height:24px; width:655px">Trả lời: Vui vẻ đồng &yacute; v&agrave; ghi note cụ thể v&agrave;o giấy order cho bộ phận pha chế.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:68px">10</td>
			<td style="width:655px">KH đang d&ugrave;ng lỡ dỡ, y&ecirc;u cầu g&oacute;i đem về? V&iacute; dụ đem ly nước &eacute;p về.</td>
		</tr>
		<tr>
			<td style="height:45px; width:655px">Trả lời: Vui vẻ đồng &yacute; v&agrave; mang phần nước/ đồ ăn v&agrave;o quầy, c&ugrave;ng pha chế thực hiện đ&oacute;ng g&oacute;i để kh&aacute;ch đem về</td>
		</tr>
		<tr>
			<td style="height:46px">&nbsp;</td>
			<td style="width:655px">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:46px">&nbsp;</td>
			<td style="width:655px">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:66px">11</td>
			<td style="width:655px">KH hỏi Tr&aacute;i c&acirc;y dầm kem với Kem tr&aacute;i c&acirc;y l&agrave; g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:41px; width:655px">Trả lời: Tr&aacute;i c&acirc;y dầm kem l&agrave; nhiều loại tr&aacute;i c&acirc;y cắt vu&ocirc;ng dầm với 1 &iacute;t sữa v&agrave; 1 vi&ecirc;n kem v&agrave; đ&aacute; b&agrave;o. C&ograve;n Kem tr&aacute;i c&acirc;y l&agrave; tr&aacute;i c&acirc;y tươi gồm 5-6 loại được cắt lớn, được ăn chung với 1 vi&ecirc;n kem.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:130px">13</td>
			<td style="width:655px">KH hỏi qu&aacute;n d&ugrave;ng tr&aacute;i c&acirc;y ở đ&acirc;u? B&ecirc;n em c&oacute; sử dụng tr&aacute;i c&acirc;y Trung Quốc hoặc tr&aacute;i c&acirc;y nhập (&Acirc;u, Mỹ) kh&ocirc;ng?</td>
		</tr>
		<tr>
			<td style="height:83px; width:655px">Trả lời: Cửa h&agrave;ng&nbsp; chủ yếu tr&aacute;i c&acirc;y tươi n&ecirc;n c&oacute; hơn 20 loại. Tất cả đều l&agrave; tr&aacute;i c&acirc;y trong nước từ c&aacute;c tỉnh Đ&ocirc;ng v&agrave; Nam bộ, v&iacute; dụ D&acirc;u, carrot, bơ, m&atilde;ng cầu, chanh d&acirc;y từ Đ&agrave; Lạt, c&ograve;n hầu hết từ Bến Tre v&agrave; c&aacute;c tỉnh miền Nam. Cửa h&agrave;ng tuyệt đối kh&ocirc;ng sử dụng tr&aacute;i c&acirc;y Trung Quốc v&agrave; hiện cũng chưa sử dụng loại tr&aacute;i c&acirc;y nhập n&agrave;o cả.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:107px">14</td>
			<td style="width:655px">KH Order dĩa tr&aacute;i c&acirc;y</td>
		</tr>
		<tr>
			<td style="height:82px; width:655px">Trả lời: NV cần x&aacute;c nhận lại dĩa tr&aacute;i c&acirc;y lớn hay vừa hay 1 kh&aacute;ch d&ugrave;ng? Nếu tr&aacute;i c&acirc;y 1 kh&aacute;ch d&ugrave;ng th&igrave; tư vấn: Cửa h&agrave;ng c&oacute; phần tr&aacute;i c&acirc;y t&ocirc; để 1 kh&aacute;ch ăn. Nếu 2 kh&aacute;ch ăn th&igrave; d&ugrave;ng dĩa tr&aacute;i c&acirc;y vừa (600gr) Từ 3 kh&aacute;ch v&agrave; hơn th&igrave; ăn dĩa tr&aacute;i c&acirc;y lớn l&agrave; đủ. Nhớ hỏi cụ thể dĩa tr&aacute;i c&acirc;y đầy đủ hay dĩa theo Set c&oacute; trong menu.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:90px">15</td>
			<td style="width:655px">KH hỏi dĩa tr&aacute;i c&acirc;y đầy đủ theo m&ugrave;a gồm c&oacute; g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:65px; width:655px">Trả lời: Dĩa tr&aacute;i c&acirc;y theo m&ugrave;a c&oacute; khoảng hơn 10 loại tr&aacute;i c&acirc;y thường c&oacute; v&agrave; theo m&ugrave;a. Kể ra v&agrave;i loại th&ocirc;ng thường v&agrave; qu&aacute;n hiện đang c&oacute;, v&iacute; dụ: Dưa hấu, ổi, t&aacute;o, mận, m&iacute;t, đu đủ, d&acirc;u, thanh long, sorri, xo&agrave;i&hellip;.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:85px">16</td>
			<td style="width:655px">KH y&ecirc;u cầu dĩa tr&aacute;i c&acirc;y nhỏ ( phần 1 loại 15-20k) c&oacute; hơn 4 loại tr&aacute;i c&acirc;y</td>
		</tr>
		<tr>
			<td style="height:60px; width:655px">Trả lời: Dĩa tr&aacute;i c&acirc;y nhỏ d&ugrave;ng để ăn 1 loại, nếu kh&aacute;ch h&agrave;ng chọn chỉ c&oacute; thể l&agrave;m từ 2-3 loại v&agrave; trừ bưởi. V&igrave; bưởi phải lột nguy&ecirc;n tr&aacute;i ko thể để v&agrave;o dĩa 1,2 m&uacute;i được. Nếu kh&aacute;ch h&agrave;ng muốn ăn từ 4 loại tr&aacute;i c&acirc;y vui l&ograve;ng order phần tr&aacute;i c&acirc;y dĩa vừa (600gr)</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:90px">17</td>
			<td style="width:655px">KH y&ecirc;u cầu dĩa tr&aacute;i c&acirc;y đầy đủ theo m&ugrave;a c&oacute; Bưởi?</td>
		</tr>
		<tr>
			<td style="height:67px; width:655px">Trả lời: tương tự như tr&ecirc;n: Bưởi phải lột nguy&ecirc;n tr&aacute;i kh&ocirc;ng thể l&agrave;m 1,2 m&uacute;i v&agrave;o dĩa được n&ecirc;n nếu kh&aacute;ch th&iacute;ch ăn bưởi vui l&ograve;ng chọn dĩa bưởi hoặc Set 2 để được phục vụ bưởi v&agrave; c&aacute;c m&oacute;n mong muốn gần như trong set. C&oacute; thể đổi 1 đến 2 loại tr&aacute;i c&acirc;y trong Set đ&oacute; qua loại kh&aacute;c.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:51px">18</td>
			<td>&nbsp;Chuối đ&ocirc;ng l&agrave; g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:24px">Trả lời: L&agrave; loại chuối để nguy&ecirc;n tr&aacute;i l&agrave;m đ&ocirc;ng, sau đ&oacute; cắt l&aacute;t v&agrave; ăn với dừa b&agrave;o, đậu phọng v&agrave; siro d&acirc;u.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:133px">19</td>
			<td>Ph&uacute;c bồn tử l&agrave; quả g&igrave;?</td>
		</tr>
		<tr>
			<td style="height:106px; width:655px">Trả lời: Ph&uacute;c bồn tử l&agrave; loại quả mới được trồng ở Đ&agrave; Lạt, người ta c&ograve;n hay gọi l&agrave; quả m&acirc;m x&ocirc;i, trước đ&acirc;y ở Việt Nam chỉ nhập. Quả n&agrave;y c&oacute; nhiều c&ocirc;ng dụng, anh chị c&oacute; thể tham khảo ở menu tr&ecirc;n b&agrave;n (lấy hoặc chỉ tấm menu dựng tr&ecirc;n b&agrave;n cho kh&aacute;ch).&nbsp;&nbsp; Hiện qu&aacute;n c&oacute; nguồn cung cấp quả tươi đảm bảo từ Đ&agrave; Lạt v&agrave;o mỗi đầu tuần v&agrave; cuối tuần. M&oacute;n Sinh tố Ph&uacute;c bồn tử D&acirc;u yaourt hoặc xay với xo&agrave;i, v&agrave; Yaourt Ph&uacute;c bồn tử D&acirc;u Xo&agrave;i l&agrave; m&oacute;n được ưu chuộng trong danh s&aacute;ch c&aacute;c m&oacute;n c&oacute; trong menu.</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:40px">20</td>
			<td>Yaourt tự l&agrave;m hay vinamilk?</td>
		</tr>
		<tr>
			<td style="height:22px">Trả lời: Yaourt của cửa h&agrave;ng tự l&agrave;m từ sữa tươi</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:65px">21</td>
			<td>Nước &eacute;p chai của qu&aacute;n l&agrave; như thế n&agrave;o?</td>
		</tr>
		<tr>
			<td style="height:47px; width:655px">Trả lời: Sản phẩm n&agrave;y nguy&ecirc;n chất, kh&ocirc;ng đ&aacute;, d&ugrave;ng 1 &iacute;t đường ph&egrave;n để điều vị đối với một số loại chua. Nếu anh/chị uống c&oacute; đ&aacute; th&igrave; mỗi chai sẽ trừ ra 2k. Lần sau uống nếu trả chai lại th&igrave; sẽ -3k/chai</td>
		</tr>
	</tbody>
</table>