<table border="0" cellpadding="0" cellspacing="0" style="width:707px">
	<tbody>
		<tr>
			<td style="height: 33px; width: 707px; text-align: center;"><span style="font-size:28px"><strong>Quy tr&igrave;nh tiếp kh&aacute;ch tại chỗ</strong></span></td>
		</tr>
		<tr>
			<td style="height:64px; width:707px">1. Th&ocirc;ng b&aacute;o: Nh&acirc;n vi&ecirc;n thấy kh&aacute;ch sẽ th&ocirc;ng b&aacute;o cho đồng nghiệp biết số lượng kh&aacute;ch bằng c&aacute;ch n&oacute;i lớn.&nbsp; C&ocirc;ng việc n&agrave;y all mọi người đều phải l&agrave;m, v&agrave; chủ yếu l&agrave; c&aacute;c bạn nam quản l&yacute; b&ecirc;n ngo&agrave;i chịu tr&aacute;ch nhiệm. V&iacute; dụ: 2 kh&aacute;ch v&agrave;o qu&aacute;n: cần b&aacute;o lớn: c&oacute; 2 kh&aacute;ch đủ để b&ecirc;n trong nghe thấy.</td>
		</tr>
		<tr>
			<td style="height:27px; width:707px">2. Hướng dẫn kh&aacute;ch: Nam c&oacute; ở qu&aacute;n sẽ vui vẻ ch&agrave;o v&agrave; hướng dẫn hoặc dẫn xe kh&aacute;ch.</td>
		</tr>
		<tr>
			<td style="height:54px; width:707px">Trường hợp kh&ocirc;ng c&ograve;n bạn nam n&agrave;o ở qu&aacute;n, bạn phục vụ nữ fai ra hướng dẫn cho kh&aacute;ch vị tr&iacute; để xe hoặc x&iacute;ch xe kh&aacute;ch</td>
		</tr>
		<tr>
			<td style="height:49px; width:707px">3. Ch&agrave;o hỏi: Kh&aacute;ch chuẩn bị bước v&agrave;o qu&aacute;n, bạn nữ/nam phục vụ b&ecirc;n trong sẽ đẩy cửa cho kh&aacute;ch (nếu c&oacute;)&nbsp; v&agrave; vui vẻ mỉm cười v&agrave; ch&agrave;o kh&aacute;ch bằng c&acirc;u: eFruit xin ch&agrave;o || Ch&agrave;o anh/chị/bạn&nbsp;</td>
		</tr>
		<tr>
			<td style="height:26px; width:707px">4. Phục vụ:&nbsp; Sau khi kh&aacute;ch ổn định chỗ ngồi, 1 bạn sẽ gửi menu cho kh&aacute;ch trước</td>
		</tr>
		<tr>
			<td style="height:62px; width:707px">Bạn c&ograve;n lại b&ecirc;n trong hoặc ch&iacute;nh bạn đ&oacute; sẽ di chuyển v&agrave;o b&ecirc;n trong lấy nước cho kh&aacute;ch. Mặc định: Nước lọc + đ&aacute;.&nbsp; Y&ecirc;u cầu: c&oacute; đế ly v&agrave; để nhẹ nh&agrave;ng cẩn thận l&ecirc;n b&agrave;n. Nếu kh&aacute;ch y&ecirc;u cầu nước tr&agrave; th&igrave; v&agrave;o đổi nước tr&agrave; cho kh&aacute;ch.</td>
		</tr>
		<tr>
			<td style="height:37px; width:707px">5. Order: Bạn bưng nước ra cho kh&aacute;ch sẽ chờ kh&aacute;ch order m&oacute;n v&agrave; ghi v&agrave;o sổ order. Y&ecirc;u cầu order r&otilde; r&agrave;ng y&ecirc;u cầu v&agrave; ch&iacute;nh x&aacute;c m&oacute;n&nbsp;</td>
		</tr>
		<tr>
			<td style="height:25px; width:707px">6. Pha chế: Người order sẽ x&eacute; tờ order cắm v&agrave;o cọc của bộ phận pha chế để pha chế xử l&yacute; theo y&ecirc;u cầu</td>
		</tr>
		<tr>
			<td style="height:37px; width:707px">7. Bill: Nh&acirc;n vi&ecirc;n order sẽ tạo Bill thanh to&aacute;n cho kh&aacute;ch v&agrave; in ra sẵn. Trường hợp kh&aacute;ch order th&ecirc;m sẽ tạo th&ecirc;m 1 order kh&aacute;c tại ch&iacute;nh vị tr&iacute; đ&oacute; v&agrave; in ra ngay.</td>
		</tr>
		<tr>
			<td style="height:66px; width:707px">8. B&aacute;n h&agrave;ng: bạn nh&acirc;n vi&ecirc;n order sẽ hỗ trợ pha chế lấy muỗng, ống h&uacute;t, đ&aacute; b&agrave;o&hellip;. (những thứ li&ecirc;n quan đến thức uống của kh&aacute;ch).&nbsp; Sau đ&oacute; bưng phần/ly đ&atilde; pha chế ra cho kh&aacute;ch v&agrave; cầm bill thanh to&aacute;n đưa kh&aacute;ch. Y&ecirc;u cầu c&oacute; đế ly, để nhẹ nh&agrave;ng, cẩn thận, lịch sự</td>
		</tr>
		<tr>
			<td style="height:49px; width:707px">9. Thanh to&aacute;n: Kh&aacute;ch đưa tiền sẽ cầm v&agrave;o đưa cho thu ng&acirc;n hoặc người c&oacute; tr&aacute;ch nhiệm xử l&yacute; tiền thanh to&aacute;n (thối tiền, lưu sổ)</td>
		</tr>
		<tr>
			<td style="height:55px; width:707px">10. Tiễn kh&aacute;ch: Nh&acirc;n vi&ecirc;n phục vụ hoặc giữ xe nam khi thấy kh&aacute;ch chuẩn bị ra ngo&agrave;i sẽ ra đẩy cửa cho kh&aacute;ch, c&ugrave;ng l&uacute;c l&agrave; mỉm cười v&agrave; n&oacute;i: Cảm ơn anh/chị, hẹn gặp lại. Hướng dẫn kh&aacute;ch vị tr&iacute; lấy xe (trường hợp xe được giữ ở vị tr&iacute; kh&aacute; xa qu&aacute;n) Nh&acirc;n vi&ecirc;n giữ xe sẽ lấy xe cho kh&aacute;ch. Kết th&uacute;c.</td>
		</tr>
		<tr>
			<td style="height:76px; width:707px">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 33px; width: 707px; text-align: center;"><span style="font-size:36px"><strong>Quy tr&igrave;nh xử l&yacute; order delivery</strong></span></td>
		</tr>
		<tr>
			<td style="height:118px; width:707px">1. Nhận order: Nh&acirc;n vi&ecirc;n nhận order nghe điện thoại mở đầu bằng c&acirc;u ch&agrave;o: eFruit xin nghe. Sau đ&oacute; nhận đơn h&agrave;ng kh&aacute;ch đặt cần đầy đủ những th&ocirc;ng tin, gồm:<br />
			Nguồn kh&aacute;ch h&agrave;ng (Dịch vụ hay gọi trực tiếp), Danh s&aacute;ch m&oacute;n ăn k&egrave;m y&ecirc;u cầu kh&aacute;c trong m&oacute;n ăn (nếu c&oacute;), T&ecirc;n, số điện thoại kh&aacute;ch, địa chỉ giao h&agrave;ng, giờ giao h&agrave;ng, th&ocirc;ng tin xuất ho&aacute; đơn VAT nếu c&oacute;<br />
			Người nhận order sẽ tạo h&oacute;a đơn theo đ&uacute;ng y&ecirc;u cầu của kh&aacute;ch, xuất h&oacute;a đơn pha chế c&oacute; ghi ch&uacute; đầy đủ th&ocirc;ng tin nhận. Tiếp tục in Phiếu thanh to&aacute;n.</td>
		</tr>
		<tr>
			<td style="height:45px; width:707px">2. Pha chế: nhận order v&agrave; xử l&yacute; theo đơn h&agrave;ng s&aacute;t với y&ecirc;u cầu của kh&aacute;ch. Sản phẩm ho&agrave;n th&agrave;nh cần l&agrave;m nh&atilde;n th&igrave; đưa cho nv giao h&agrave;ng xử l&yacute;: d&aacute;n nh&atilde;n v&agrave; bảo quản lạnh.</td>
		</tr>
		<tr>
			<td style="height:69px; width:707px">3. Chuẩn bị: Nh&acirc;n vi&ecirc;n nam xem chi tiết order, check vị tr&iacute;, đường đi đến kh&aacute;ch h&agrave;ng tr&ecirc;n google map v&agrave; chuẩn bị c&aacute;c vật dụng cần thiết cho order, sau đ&oacute; hỗ trợ với bộ phận pha chế những c&ocirc;ng việc c&oacute; thể, VD: nạo dừa, gọt tr&aacute;i c&acirc;y, dậy nắp ly&hellip;</td>
		</tr>
		<tr>
			<td style="height:70px; width:707px">4. Đ&oacute;ng th&ugrave;ng: Giao h&agrave;ng kiểm số lượng ly v&agrave; xếp v&agrave;o th&ugrave;ng, ch&egrave;n đ&aacute; giữ nhiệt. Chuẩn bị tiền thối cho kh&aacute;ch. NV Giao h&agrave;ng chịu tr&aacute;ch nhiệm kiểm đếm ho&aacute; đơn lần cuối: số ly, vật dụng, đ&aacute; k&egrave;m theo&hellip;.. Sau đ&oacute; đem đi giao cho kh&aacute;ch</td>
		</tr>
		<tr>
			<td style="height:85px; width:707px">5. Giao h&agrave;ng: nh&acirc;n vi&ecirc;n chuyển h&agrave;ng đến vị tr&iacute; kh&aacute;ch, sau khi đến nơi sẽ gọi điện thoại cho kh&aacute;ch liền. Một số đơn h&agrave;ng mang l&ecirc;n tận nơi sau khi thoả thuận với kh&aacute;ch hoặc được y&ecirc;u cầu bắt buộc.<br />
			Hoặc trong l&uacute;c chờ kh&aacute;ch ra lấy h&agrave;ng th&igrave; giao h&agrave;ng sẽ th&aacute;o th&ugrave;ng giao h&agrave;ng (nếu l&agrave; th&ugrave;ng rời) đặt xuống đất an to&agrave;n v&agrave; soạn h&agrave;ng ra bịch đựng để đưa cho kh&aacute;ch 1 c&aacute;ch cẩn thận.</td>
		</tr>
		<tr>
			<td style="height:48px; width:707px">6. Thanh to&aacute;n: NV giao h&agrave;ng đưa bill thanh to&aacute;n cho kh&aacute;ch v&agrave; thực hiện qu&aacute; tr&igrave;nh thanh to&aacute;n (thối tiền, kiểm h&agrave;ng). Sau khi thanh to&aacute;n xong vui vẻ mỉm cười ch&agrave;o v&agrave; cảm ơn kh&aacute;ch.</td>
		</tr>
		<tr>
			<td style="height:66px; width:707px">7. Ho&agrave;n tất: Nh&acirc;n vi&ecirc;n giao h&agrave;ng mang tiền + th&ugrave;ng h&agrave;ng về giao cho thu ng&acirc;n hoặc người quản l&yacute; tại qu&aacute;n. Th&ugrave;ng/t&uacute;i&nbsp; giao h&agrave;ng sau khi mang về phải dồn đ&aacute; v&agrave; l&agrave;m sạch,&nbsp; để lại vị tr&iacute; cũ. Trường hợp kh&aacute;ch giữ order phải b&aacute;o c&aacute;o lại quản l&yacute;.</td>
		</tr>
	</tbody>
</table>