<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:600:cyrillic-ext,latin,greek-ext,greek,vietnamese,latin-ext,cyrillic']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->
<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<!-- IF STYLE_SETTINGS_CONFIG_BASE_COLOUR == 'Dark' -->
	<link href="{T_THEME_PATH}/colours_dark.css" rel="stylesheet">
<!-- ENDIF -->
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">

<!-- IF STYLE_SETTINGS_CONFIG_COLOUR_PRESET != 'No Custom Colour' -->
    <!-- IF STYLE_SETTINGS_CONFIG_COLOUR_PRESET == 'Custom (Use colour picker below)' -->
        <style type="text/css">
			/* Color */
			/* Color */
a:hover, .navbar_footer a, .copyright_bar a, .social_links_footer a:hover span, .icon.fa-file.icon-red, a:hover .icon.fa-file.icon-red, .navigation .active-subsection a, .navigation .active-subsection a:hover, .navigation a:hover, .tabs .tab > a:hover, .tabs .activetab > a, .tabs .activetab > a:hover, a.postlink, a.postlink:visited, .navbar_in_header .badge, .button:focus .icon, .button:hover .icon, .dark_base .social_links_footer a span, .dark_base h2, .dark_base h2 a, .dark_base a:link, .dark_base a:visited, .button-secondary:focus, .button-secondary:hover, .notification_unread {color: #{STYLE_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* Background Solid  */
			.pagination li a:hover, .pagination li.active span, .pagination li a:focus, .jumpbox-cat-link, .dropdown-contents > li > a:hover, a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, a.no_avatar:hover, .jumpbox-cat-link:hover, input.button1:focus, input.button2:focus, input.button3:focus, .specialbutton, input.specialbutton, .panel .specialbutton, a.specialbutton, .scrollToTop, a.specialbutton, .dark_base .social_links_footer a:hover span, .topic_type {background: #{STYLE_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* Borders Dark */
			.pagination li a:hover, .pagination li.active span, .pagination li a:focus, blockquote, .codebox code, .jumpbox-cat-link, a.postlink, input.button1:focus, input.button2:focus, input.button3:focus, input.specialbutton, .inputbox:hover, .inputbox:focus, .specialbutton, a.specialbutton, .button:hover, .button:focus, .dark_base .social_links_footer a span, a.specialbutton, .dark_base .social_links_footer a:hover span {border-color: #{STYLE_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* Background Gradient  */
			.headerbar, body.content_block_header_block li.header, body.content_block_header_stripe li.header:before, .scrollToTop, .no_avatar, .social_links_footer, .badge, thead tr, .sidebar_block_stripe:before, .fancy_panel:before {background: #{STYLE_SETTINGS_CONFIG_COLOUR_PICKER};}
			/* The same as above, just with some opacity */
			.headerbar_overlay_active {background-color: rgba(0,0,0,0.3);}			
			/* Colour Hover Light */
			.navbar_footer a:hover, .copyright_bar a:hover, a.postlink:hover, .dark_base h2 a:hover  {opacity: 0.7;}			
			/* Background Hover Light */
			a.scrollToTop:hover, input.specialbutton:hover, a.specialbutton:hover {opacity: 0.7;}
			/* Border light */
			.specialbutton:hover {opacity: 0.7;}
		</style>
	<!-- ELSE -->
    	<link href="{T_THEME_PATH}/colour-presets/{STYLE_SETTINGS_CONFIG_COLOUR_PRESET}.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" class="preset_stylesheet">
    <!-- ENDIF -->
<!-- ELSE -->
	<link href="{T_THEME_PATH}/colour-presets/default.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 8]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- DEFINE $POPUP = 1 -->

<!-- EVENT simple_header_head_append -->

{$STYLESHEETS}

<!-- EVENT simple_header_stylesheets_after -->

</head>

<body id="phpbb" class="nojs {S_CONTENT_DIRECTION} {BODY_CLASS}">

<!-- EVENT simple_header_body_before -->

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-body" class="page-body" role="main">
