/*
 * Base structure
 */
 
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot?v=4.2.0');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff?v=4.2.0') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf?v=4.2.0') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg?v=4.2.0#glyphiconshalflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding: 0;
  background-color:#FFFFFF; 
  margin: 0px;  /* the margin on the content before printing */
}

.container-fluid{
    width: 56mm;
    margin: 0 auto;
    position: relative;
    padding: 5px 10px;
}

.container-fluid.w80mm{
    width: 80mm;
}

.container-fluid .main.printing.w80mm{
    width: 80mm;
}

.container-fluid .main.printing.print-receipt.w80mm{
    width: 80mm;
}

#main_content .row{
    padding: 0;
    margin: 0;
}

@page 
{
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
}


/*
 * Main content
 */

.main {
  padding: 0;
}

h1{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    font-size: 12px;
}

sub, sup {
    /* Specified in % so that the sup/sup is the
    right size relative to the surrounding text */
    font-size: 75%;
     
    /* Zero out the line-height so that it doesn't
    interfere with the positioning that follows */
    line-height: 0;
     
    /* Where the magic happens: makes all browsers position
    the sup/sup properly, relative to the surrounding text */
    position: relative;
     
    /* Note that if you're using Eric Meyer's reset.css, this
    is already set and you can remove this rule */
    vertical-align: baseline;
}
 
sup {
    /* Move the superscripted text up */
    top: -0.5em;
}
 
sub {
    /* Move the subscripted text down, but only
    half as far down as the superscript moved up */
    bottom: -0.25em;
}

.left{float: left;}
.right{float: right;}
.hidden{display: none !important;}
.clear{float: next; clear: both;}
.bold{font-weight: bold;}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
    padding: 0;
    font-size: 14px;
    border: none;
}
    .table > thead > tr > th{
        border-bottom: 1px solid #444;
        text-align: center;
        font-size: 14px;
        padding-top: 5px;
    }
    .table tr.total > td{
        border-top: 1px solid #888;
    }

.acenter{text-align: center;}
.aleft{text-align: left;}
.aright{text-align: right;}
.smallsize{font-size: 12px;}
.largesize, .price{font-size: 14px !important;}
table tr.total td.largesize{font-size: 16px !important;}

.header{
    width: 100%;
    margin: 0 auto 5px;
    text-align: center;
    padding: 0;
}
    .header .smallsize{font-size: 10px;}
    .header h1{font-size: 16px;}

.sub_product p{
    font-size: 12px;
    font-style: italic;
    margin: 0;
}
.order_item_description.printing{display: block !important;}
    .order_item_description.printing p{
        font-size: 12px;
        font-style: italic;
        margin-right: 5px;
    }


table.customer{
    width: 100%;
}
    table.customer td, table.customer p{
        border: none;
        font-size: 14px;
    }
    
table tr.total td{
    font-size: 14px; 
    font-weight: bold;
    color: #333;
}
table tr td.aright:last-child{
    padding-right: 10px !important;
}

table.order_items .quantity{width: 25px;min-width: 0;}


.printing{display: inherit !important;}
span.printing{display: inline !important;}
.hidden_when_printing, .hidden_when_printing_bill{display: none !important;}
.printing_receipt{}
    .printing_receipt .hidden_when_printing_receipt{display: none !important;}
    .printing_receipt .hidden_when_printing_bill.hidden_when_printing_label{display: inherit !important;}
    .printing_receipt table.order_items td, .printing_receipt table.order_items th{font-size: 100%;}
    .printing_receipt table.order_items td.hidden_when_printing_bill, .printing_receipt table.order_items th.hidden_when_printing_bill{display: table-cell !important;}
    .printing_receipt .page_break{page-break-before: avoid;}
    .printing_receipt .page_break_when_printing_receipt{page-break-before: always;}
    .printing_receipt table.order_items{table-layout: fixed;}

.printing_label{}
    .printing_label .hidden_when_printing_label, .printing_label .hidden_when_printing_receipt{display: none !important;}
    .printing_label .hidden_when_printing_receipt.hidden_when_printing_bill{display: inherit !important;}

.printing .label-item.no-print{display: none !important;}

