<div class="container my-3">
  <div class="row g-0 category-full">
    <div class="col-md-6">
      <div class="category-caption">
        <h3 class="efruit-vi"><span>Hoa trái cây</span></h3>
        <h3 class="efruit-en"><span>Fruit Bouquets</span></h3>
        <span class="efruit-vi">
          <p>Các loại bó hoa kết hợp giữa trái cây tươi và hoa rất đa dạng. Là một món quà tặng phong cách mới mẻ, hiện
            đại.</p>
        </span>
        <span class="efruit-en">
          <p>Các loại bó hoa kết hợp giữa trái cây tươi và hoa rất đa dạng. Là một món quà tặng phong cách mới mẻ, hiện
            đại.</p>
        </span>
        <a class="btn-shop" href="http://www.happyfruits.vn/vi/fruit-bouquet">
          <div class="button-content-wrapper">
            <span class="button-text">SHOP NOW</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category-home-page">
        <div class="top-img">
          <a href="http://www.happyfruits.vn/vi/fruit-bouquet">
            <img src="http://www.happyfruits.vn/uploads/210358f2d9899b53e9a9ca31e0e3ba74.jpg" alt="">
          </a>
        </div>
      </div>

    </div>
  </div>


  <div class="row mt-2 gy-2">
    <div class="col-md-3 col-6">
      <div style="margin-bottom: 15px;" class="product-cat-8  y-grid-card animate has-image compact full-width"
        on-ready="">

        <a href="/vi/detail/259" ng-click="showProduct(259, $event, 1)" class="y-image">
          <img width="320" height="320" alt="FM10"
            src="http://www.happyfruits.vn/uploads/square-small/hoa-trai-cay-mix-ngau-nhien.jpg" class="recipe-image">
          <img width="320" height="320" alt="gradient-background"
            src="http://www.happyfruits.vn/themes/efruit/assets/img/card-gradient.png" class="gradient">
        </a>
        <div class="y-info">
          <h3 class="y-title"><a style="text-overflow: inherit;white-space: unset;">FM10 - <span
                class="product_name efruit-vi">Bó Hoa trái cây FM15</span><span class="product_name efruit-en">Fruits
                Bouquet FM15</span></a></h3>
          <a class="y-source">600,000<sup>đ</sup></a>
          <p class="y-ingredients efruit-vi">Hoa trai cây mix ngẫu nhiên, có thiệp, tag miễn phí.</p>
          <p class="y-ingredients efruit-en">Hoa trai cây mix ngẫu nhiên, có thiệp, tag miễn phí.</p>
        </div>
        <div ng-click="showProduct(259, $event)" class="btn-yum btn-wrapper add-to-cart"><span class="yum"></span></div>
        <div class="half-circle-ribbon ribbon-left" style="background: #9bc90d;box-shadow: 0 0 0 3px #9bc90d;">4h</div>
      </div>
    </div>

    <div class="col-md-3 col-6">
      <div style="margin-bottom: 15px;" class="product-cat-8  y-grid-card animate has-image compact full-width"
        on-ready="">

        <a href="/vi/detail/172" ng-click="showProduct(172, $event, 1)" class="y-image">
          <img width="320" height="320" alt="FM14"
            src="http://www.happyfruits.vn/uploads/square-small/hoa-trai-cay-600k-.jpg" class="recipe-image">
          <img width="320" height="320" alt="gradient-background"
            src="http://www.happyfruits.vn/themes/efruit/assets/img/card-gradient.png" class="gradient">
        </a>
        <div class="y-info">
          <h3 class="y-title"><a style="text-overflow: inherit;white-space: unset;">FM14 - <span
                class="product_name efruit-vi">Bó Hoa trái cây FM14</span><span class="product_name efruit-en">Fruits
                Bouquet FM14</span></a></h3>
          <a class="y-source">600,000<sup>đ</sup></a>
        </div>
        <div ng-click="showProduct(172, $event)" class="btn-yum btn-wrapper add-to-cart"><span class="yum"></span></div>
        <div class="half-circle-ribbon ribbon-left" style="background: #9bc90d;box-shadow: 0 0 0 3px #9bc90d;">4h</div>
      </div>
    </div>

    <div class="col-md-3 col-6">
      <div style="margin-bottom: 15px;" class="product-cat-8  y-grid-card animate has-image compact full-width"
        on-ready="">

        <a href="/vi/detail/153" ng-click="showProduct(153, $event, 1)" class="y-image">
          <img width="320" height="320" alt="FC3"
            src="http://www.happyfruits.vn/uploads/square-small/hoa-trai-cay-ct-size-3.jpg" class="recipe-image">
          <img width="320" height="320" alt="gradient-background"
            src="http://www.happyfruits.vn/themes/efruit/assets/img/card-gradient.png" class="gradient">
        </a>
        <div class="y-info">
          <h3 class="y-title"><a style="text-overflow: inherit;white-space: unset;">FC3 - <span
                class="product_name efruit-vi">Hoa trái cây cắt size 3</span><span class="product_name efruit-en">Fruit
                cut flower size 3</span></a></h3>
          <a class="y-source">1,000,000<sup>đ</sup></a>
          <p class="y-ingredients efruit-vi" style="max-height: 0px;">Sản phẩm cần đặt trước ít nhất 4h.</p>
          <p class="y-ingredients efruit-en" style="max-height: 0px;">Sản phẩm cần đặt trước ít nhất 4h.</p>
        </div>
        <div ng-click="showProduct(153, $event)" class="btn-yum btn-wrapper add-to-cart"><span class="yum"></span></div>
        <div class="half-circle-ribbon ribbon-left" style="background: #9bc90d;box-shadow: 0 0 0 3px #9bc90d;">4h</div>
      </div>
    </div>

    <div class="col-md-3 col-6">
      <div style="margin-bottom: 15px;" class="product-cat-8  y-grid-card animate has-image compact full-width"
        on-ready="">

        <a href="/vi/detail/152" ng-click="showProduct(152, $event, 1)" class="y-image">
          <img width="320" height="320" alt="FC2"
            src="http://www.happyfruits.vn/uploads/square-small/hoa-trai-cay-ct-size-2.jpg" class="recipe-image">
          <img width="320" height="320" alt="gradient-background"
            src="http://www.happyfruits.vn/themes/efruit/assets/img/card-gradient.png" class="gradient">
        </a>
        <div class="y-info">
          <h3 class="y-title"><a style="text-overflow: inherit;white-space: unset;">FC2 - <span
                class="product_name efruit-vi">Hoa trái cây cắt size 2</span><span class="product_name efruit-en">Fruit
                cut flower size 2</span></a></h3>
          <a class="y-source">500,000<sup>đ</sup></a>
          <p class="y-ingredients efruit-vi">Sản phẩm cần đặt trước ít nhất 4h.</p>
          <p class="y-ingredients efruit-en">Sản phẩm cần đặt trước ít nhất 4h.</p>
        </div>
        <div ng-click="showProduct(152, $event)" class="btn-yum btn-wrapper add-to-cart"><span class="yum"></span></div>
        <div class="half-circle-ribbon ribbon-left" style="background: #9bc90d;box-shadow: 0 0 0 3px #9bc90d;">4h</div>
      </div>
    </div>
  </div>
</div>



<style>
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>

<div class="product">
  <img src="image/...jpg" />
  <p class="product_name"></p>
  <p class="product_des"></p>
  <p class="product_price"></p>
  <button class="add_to_cart"></button>
</div>