<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:26px">&nbsp;Lịch Training Phục Vụ tại eFruit</span></strong></p>

<ol>
	<li><strong>Nhiệm vụ</strong></li>
</ol>

<ul>
	<li>Quản l&yacute;, l&agrave;m gọn g&agrave;ng, sạch sẽ khu vực b&agrave;n/ vỉa h&egrave;</li>
	<li>Bảo quản/ sắp xếp c&aacute;c vật dụng takeaway, vật dụng phục vụ giao h&agrave;ng: th&ugrave;ng xốp, d&acirc;y, đ&aacute; Gel</li>
	<li>Nhận order/ tạo bill.</li>
	<li>Giao đơn h&agrave;ng/ thức uống tận nơi đến kh&aacute;ch h&agrave;ng</li>
	<li>C&oacute; tr&aacute;ch nhiệm giữ xe, x&iacute;ch xe v&agrave; bảo quản vật dụng khu vực b&ecirc;n ngo&agrave;i của cửa h&agrave;ng</li>
	<li>Hỗ trợ sơ chế nguy&ecirc;n liệu, tr&aacute;i c&acirc;y với bộ phận pha chế khi c&oacute; y&ecirc;u cầu.</li>
</ul>

<ol>
	<li><strong>Y&ecirc;u cầu c&ocirc;ng việc</strong></li>
</ol>

<ul>
	<li>Thực hiện c&aacute;c y&ecirc;u cầu trong nội quy của cửa h&agrave;ng.</li>
	<li>Nhận order/ tạo bill Y&ecirc;u cầu: r&otilde; r&agrave;ng, ch&iacute;nh x&aacute;c.</li>
	<li>Mặc đồng phục ngay ngắn, sạch sẽ, vệ sinh c&aacute; nh&acirc;n tươm tất (t&oacute;c ngắn gọn g&agrave;ng , ng&oacute;n tay cắt ngắn, sạch sẽ) .</li>
	<li>Lu&ocirc;n vui vẻ th&acirc;n thiện với kh&aacute;ch h&agrave;ng v&agrave; đồng nghiệp. Lu&ocirc;n trung thực trong c&ocirc;ng việc v&agrave; giao tiếp .</li>
	<li>C&oacute; tinh thần học hỏi v&agrave; cầu tiến trong c&ocirc;ng việc , tinh thần l&agrave;m việc team work , hỗ trợ c&ocirc;ng việc giữa c&aacute;c bộ phận.</li>
	<li>Lu&ocirc;n chủ động v&agrave; ho&agrave;n th&agrave;nh tốt c&ocirc;ng việc đuợc giao.</li>
</ul>

<ol>
	<li><strong>C&ocirc;ng </strong><strong>việc</strong><strong> cụ thể:</strong></li>
</ol>

<ul>
	<li>Sắp xếp b&agrave;n ghế gọn g&agrave;ng/ sạch sẽ đầu ca .</li>
	<li>Lau / qu&eacute;t dọn s&agrave;n qu&aacute;n, vỉa h&egrave; sạch sẽ, gom r&aacute;c v&agrave;o sọt/ bọc.</li>
	<li>Chuẩn bị đầy đủ/ đ&uacute;ng vị tr&iacute; c&aacute;c vật dụng takeaway, vật dụng cần cho giao h&agrave;ng...</li>
	<li>Hỗ trợ pha chế sơ chế, sắp xếp tr&aacute;i c&acirc;y ở kệ/ tủ sạch gọn, thực hiện quy tr&igrave;nh FIFO ( frist in , frist out ).</li>
	<li>Lau ch&ugrave;i cửa k&iacute;nh sạch mỗi ng&agrave;y.</li>
	<li>Giữ xe/ dắt xe/ mở cửa ch&agrave;o kh&aacute;ch</li>
	<li>Order kh&aacute;ch tại chỗ/mang về.</li>
	<li>Giao h&agrave;ng khi c&oacute; đơn h&agrave;ng ph&aacute;t sinh</li>
	<li>Phục vụ nước</li>
	<li>Tự gi&aacute;c giữ khu vực b&agrave;n ghế, chỗ ngồi của kh&aacute;ch/ vỉa h&egrave; được sạch sẽ, sắp xếp gọn g&agrave;ng, đ&uacute;ng vị tr&iacute;</li>
	<li>&nbsp;</li>
</ul>

<p><strong>Ng&agrave;y 1 </strong></p>

<p>1. Giới thiệu, l&agrave;m quen với team, đồng nghiệp&hellip;.</p>

<p>2. Giới thiệu về eFruit (Sứ mệnh , tầm nh&igrave;n , gi&aacute; trị ..)</p>

<p>3. Phổ biến nội quy/check list l&agrave;m việc tại E-Fruit ( thời gian , đồng phục , .. )</p>

<p>4. Hướng dẫn quy tr&igrave;nh phục vụ (ch&agrave;o đ&oacute;n kh&aacute;ch, nhận order từ kh&aacute;ch, phục vụ nước uống &hellip;)</p>

<p>5. Vệ sinh cửa h&agrave;ng: wc, th&ugrave;ng đ&aacute;, cửa k&iacute;nh, vỉa h&egrave;, b&agrave;n ghế.</p>

<p>6<strong>. </strong>Hướng dẫn chuẩn bị vật dụng takeaway, giao h&agrave;ng</p>

<p>&nbsp;C&aacute;ch xem đường đi, đơn h&agrave;ng giao h&agrave;ng &hellip;.</p>

<p>+ Y&ecirc;u Cầu :&nbsp; Xem Menu. Cần nắm menu trong v&ograve;ng 7 ng&agrave;y.</p>

<p>&nbsp;</p>

<p><strong>Ng&agrave;y 2 </strong></p>

<p>+ Kiểm tra:&nbsp; y&ecirc;u cầu v&agrave; hướng dẫn của&nbsp; ng&agrave;y 1.</p>

<p>+ Hướng dẫn&nbsp;:</p>

<p>. Nhận order từ kh&aacute;ch h&agrave;ng: mang về, tại chỗ.</p>

<p>. Học v&agrave; nắm c&aacute;c vị tr&iacute; để xe, c&aacute;ch xếp xe, hướng dẫn kh&aacute;ch để xe trong ca l&agrave;m việc.</p>

<p>. <strong>Hướng dẫn chuẩn bị vật dụng takeaway, giao h&agrave;ng</strong></p>

<p>. C&aacute;ch tạo h&oacute;a đơn b&aacute;n h&agrave;ng, in bill thanh to&aacute;n đưa cho kh&aacute;ch.</p>

<p>. Nhận biết sản phẩm, đặc t&iacute;nh sản phẩm&hellip;</p>

<p>. Nắm được vị tr&iacute; c&aacute;c vật dụng đ&uacute;ng nơi, đ&uacute;ng chỗ, v&iacute; dụ: b&uacute;t, ghim, th&ugrave;ng, khung giao h&agrave;ng</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Ng&agrave;y 3</strong></p>

<p>+ Kiểm tra:&nbsp; y&ecirc;u cầu v&agrave; hướng dẫn của&nbsp; ng&agrave;y 1,2 .</p>

<p>+ Hướng dẫn&nbsp;:</p>

<p>. Hướng dẫn một số kĩ năng kh&aacute;c: cột chai, đ&oacute;ng nắp ly đ&uacute;ng c&aacute;ch, bưng b&ecirc; nước bằng khay</p>

<p>. Học/ tham khảo t&agrave;i liệu kiến thức về giao h&agrave;ng, xử l&yacute; sự cố khi giao h&agrave;ng&hellip;</p>

<p>. Vị tr&iacute; b&agrave;n ghế, nệm biết c&aacute;ch sắp xếp đ&uacute;ng.</p>

<p>&nbsp;</p>

<p><strong>Ng&agrave;y 4</strong></p>

<p>+ Kiểm tra:&nbsp; y&ecirc;u cầu v&agrave; hướng dẫn của&nbsp; ng&agrave;y 1,2 ,3.</p>

<p>+ Hướng dẫn&nbsp;:</p>

<p>. C&aacute;ch sử dụng m&aacute;y in t&agrave;i liệu.</p>

<p>. Training K&yacute; hiệu v&agrave; Độ ưu ti&ecirc;n h&oacute;a đơn.</p>

<p>. C&aacute;ch sử dụng m&aacute;y t&iacute;nh của cửa h&agrave;ng, mở loại nhạc ph&ugrave; hợp, &acirc;m lượng.</p>

<p>&nbsp;</p>

<p><strong>Ng&agrave;y 5</strong></p>

<p>+ Kiểm tra:&nbsp; y&ecirc;u cầu v&agrave; hướng dẫn của&nbsp; ng&agrave;y 1,2 ,3,4.</p>

<p>+ Hướng dẫn&nbsp;:</p>

<p>. Nắm tất cả vị tr&iacute; của vật dụng takaway trong kho từ ng&agrave;y 5 đến ng&agrave;y 10.</p>