@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

/* 
NEW CHANGE
*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,600&display=swap');

/*css inside-bread-section*/

.title ul {
    padding-left: 0;
}

.title h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
}

.title ul li {
    list-style: none;
    display: inline-block;
}

.title ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.title ul li a::after {
    content: '>';
    padding: 0 10px;
}

.title ul li span {
    padding: 0 7px 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #999;
}

.title {
    max-width: 600px;
    padding-right: 50px;
}

.bread-section {
    padding: 75px 150px;
    background-color: #f6f6f6;
    background-image: none;
}

.container-section {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.container-section img {
    max-width: 100%;
    height: 300px;
}


/*css form-create-account*/

.customer-account {
    padding: 70px 0;
}

.form-account {
    background: #f3f3f3 none repeat scroll 0 0;
    max-width: 600px;
    /* position: absolute; */
    width: 100%;
    display: block;
}

.header-create-account {
    text-align: center;
    padding: 30px 0 0 0;
}

.header-create-account h2 {
    font-weight: 600;
}

.header-create-account p {
    color: #666666;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}

.main-create-account-fillout {
    padding: 20px 30px 20px 30px;
    transition: 2s linear;
}

.main-create-account-fillout input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: none;
    border-bottom: 1px solid darkgray;
    width: 100%;
    padding: 10px 0 10px 0 !important;
    box-sizing: border-box;
}
.suggest-message{
    padding-top: 10px;
}
.input-submit-account {
    padding: 0px 30px 20px 30px;
}

.input-submit-account a {
    float: right;
    color: #333333;
   
    text-decoration: none;
    font-weight: 100;
    border: none;
}

.input-submit-account input {
    transition: .5s linear;
    border: none;
    width: fit-content;
    background: black;
    color: white;
    padding: 10px 15px 10px 15px;
    outline: none;
    box-sizing: border-box;
}

.input-submit-account input:hover {
    transition: all 0.3s ease 0s;
    background-color: #bdc3c7;
}


/* New CSS */

.end-form-createaccount {
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: space-between;
}

.end-form-createaccount a {
    color: #333333;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
}

.link-to-login span {
    color: #888;
    font-size: 17px;
    padding-right: 8px;
}

.password-wrapper {
    display: flex;
    align-items: center;
}

.error {
    color: #E53935;
    padding-top: 8px;
    font-size: 17px;
}


/*css placeholder input*/

.main-create-account-fillout ::placeholder {
    font-weight: 600;
}

:focus {
    outline: none;
}

.container-input-label {
    position: relative;
}


/*css forgot-form*/

.form-forgot {
    background: #f3f3f3 none repeat scroll 0 0;
    max-width: 600px;
    width: 100%;
    display: none;
    /* position: absolute;  
    margin-bottom: 70px; */
}

/* form change password  */
.form-change-password {
    display: none;
}


/*css my-account*/
.order-history{
    height: 100px;
    overflow: auto;
}
.form-edit-profile {
    padding-top: 20px;
}

.form-edit-profile h4 {
    font-size: 18px;
}

.my-account {
    padding: 70px 0;
}

.my-account h1 {
    font-weight: 600;
    font-size: 35px;
}

.my-account h2 {
    font-size: 35px;
}

.my-account p {
    font-size: 18px;
}

.my-account select {
    font-size: 18px;
}

.my-account input {
    border: none;
    border-bottom: 1px solid darkgray;
    width: 100%;
}

.logout {
    float: right;
}

.logout a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}

.order-history p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

.profile-details p {
    font-family: Marcellus, Arial, Helvetica, sans-serif;
}

.profile-details p a {
    text-decoration: none;
    color: #333333;
}

.profile-details p a:hover {
    color: red;
}


/*css profile page*/

.return-to-account p a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.return-to-account p a:hover {
    color: red;
}

.submit-edit {
    padding: 15px 0 10px 0;
}

.submit-edit input {
    width: fit-content;
    text-align: left;
    border: none;
}

.cancel-profile, .submit-button {
    width: 100%;
    padding: 15px 0 10px 0;
    text-align: center;
    font-size: 18px;
}

.cancel-profile button {
    width: fit-content;
    text-align: center;
    border: none;
    background-color: white;
}

.cancel-profile button:hover {
    background-color: #e0fff2;
    color: #ff3a3a;
    border-radius: 8px;
    border-bottom: none;
}

.submit-button button:hover {
    background-color: #72a499;
    color: #f2f7ee;
    border-radius: 8px;
    border-bottom: none;
}

.submit-button button {
    width: fit-content;
    text-align: center;
    border: none;
    background-color: white;

}



.profile-details p {
    font-family: Marcellus, Arial, Helvetica, sans-serif;
}

.profile-details li a:hover {
    transition: .2s linear;
    color: red;
}

.profile-details li a {
    text-decoration: none;
    color: #333333;
}

.profile-details li {
    padding: 3px;
    list-style: none;
    display: inline-block;
}

.form-edit-profile {
    display: none;
}


/*css contact*/

.container-contact-us {
    padding-top: 15px;
}

.container-contact-us h1 {
    font-weight: 600;
}

.container-contact-us a {
    text-decoration: none;
    color: green;
    cursor: pointer;
}

.container-contact-us a:hover {
    text-decoration: underline;
}


/* button logout  */
.logout-title{
    float: right;
    font-size: large;
}

.logout-title a{
    color: #333333;
}

/* select district */
.required {
    width: 100%;
    font-family: Marcellus, Arial, Helvetica, sans-serif;
}

.row-form-edit {
    padding: 7px 0;
}

/* notification forgot password  */
.notification-success {
    color: #58b720;
    font-size: 18px;
    margin: 0 30px;
}
.notification-error {
    text-align: center;
    font-size: 18px;
    margin: 0 30px;
}

/*css reponsive*/


/*title*/

@media only screen and (min-width:992px) and (max-width: 1199px) {
    .title h1 {
        font-size: 44px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .title h1 {
        margin-bottom: 40;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .title h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:767px) {
    .title h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .bread-section {
        padding: 30px;
    }
}

@media only screen and (max-width:575px) {
    .title h1 {
        font-size: 15px;
    }
    .bread-section img {
        height: 150px;
    }
}

@media only screen and (max-width:350px) {
    .title h1 {
        font-size: 15px;
    }
    .bread-section {
        padding: 20px;
    }
}