/* Footer */

.footer {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #faf1ee;
  overflow: hidden;
}

.footer--wrapper {
  margin-bottom: 80px;
  text-align: center;
}

img.footer-img {
  max-width: 225px;
}

.footer--info {
  display: grid;
  grid-template-columns: 2fr 2fr 2.5fr;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer--info-item a {
  text-decoration: none;
}

.footer--info-item, .contact--link {
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  padding: 5px;
}

.footer--info-title {
  color: #7e7e7e;
  font-weight: bold;
  text-transform: uppercase;
}

.footer--info-title:hover {
  color: #000;
}

.footer--info-link {
  transition: all .2s ease-in;
  display: inline-flex;
  color: #555;
}

.footer--info-link:hover, .footer--info-address__des:hover {
  color: #000;
  font-weight: 600;
  transform: translateX(5px);
}

.contact--link:hover {
  color: #000;
  font-weight: 600;
}

/* Group icon */

.footer--company-info {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  color: #383838;
}

/* Responsive footer */
@media (max-width:990px) {
  .footer--info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
}
@media (max-width:748px) {
  .footer--info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer--company-info {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .footer--company-info span {
    text-align: left;
    margin: 0 20px;
  }
  .search-field {
    width: 300px;
  }
}

@media (max-width:478px) {
  .footer {
    padding-top: 0px;
  }
  .footer--company-info {
    margin-top: 50px;
  }
  .footer--info-address, .footer--info-address__des {
    max-width: 80%;
  }
  .footer--form-submit-wrapper {
    max-width: 350px;
  }
  .footer--form-submit {
    margin: 50px 16px 90px;
  }
  .btn-submit {
    top: 120%;
    width: 100%;
  }
}

@media only screen and (max-width:370px) {
  .search-field {
    width: 160px;
  }
}